<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/mrploch/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="kploch" />
            <add key="ClearTextPassword" value="%MRPLOCH_GITHUB_PACKAGES_TOKEN%" />
        </github>
    </packageSourceCredentials>
    <!--<packageSourceMapping>
        ~1~ key value for <packageSource> should match key values from <packageSources> element @1@
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="github">
            <package pattern="Ploch.*" />
        </packageSource>
    </packageSourceMapping>-->
</configuration>