<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/mrploch/index.json" />
        <add key="local" value="C:\DevNet\my\mrploch\local-nuget-feed" />
    </packageSources>
    <packageSourceMapping>
        <clear />
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="github">
            <package pattern="Ploch.*" />
        </packageSource>
        <packageSource key="local">
            <package pattern="Ploch.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
